<h2 class="block_title">People Of Ghana</h2>
<div class="row port cs-style-3">
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img04">
            <figcaption>
                <h3>Settings</h3>
                <span>Jacob Cummings</span>
                <a href="/images/ousumbre6.jpg" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img01">
            <figcaption>
                <h3>Camera</h3>
                <span>Jacob Cummings</span>
                <a href="/images/ousumbre5.jpg" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img04">
            <figcaption>
                <h3>Settings</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img01">
            <figcaption>
                <h3>Camera</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12 item-space bankd"></div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img01">
            <figcaption>
                <h3>Camera</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre6.jpg" alt="img02">
            <figcaption>
                <h3>Music</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-space">
        <figure>
            <img src="/images/ousumbre5.jpg" alt="img01">
            <figcaption>
                <h3>Camera</h3>
                <span>Jacob Cummings</span>
                <a href="#" class="button" download>Download</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-xs-12">
        <div class="btn-center">
            <a href="#" class="small button" style="margin-right: 10px;"><i
                    class="pe-7s-angle-left-circle pe-va"></i></a>
            <a href="#" class="small button" style="margin-right: 10px;">View All</a>
            <a href="#" class="small button" style="margin-right: 10px;"><i class="pe-7s-angle-right-circle pe-va"></i></a>
        </div>
    </div>
</div>

